@import "./content-wrapper.css";
* {
  margin: 0;
  padding: 0;

  --primary-color: #6c63ff;
  --secondary-color: #5f5f5f;
  --alter-backgroud-color: #e8e7ff;
  --dark-color: #343a40;

  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

section {
  width: 100vw;
  padding: 2rem;
  max-width: 1080px;
  margin: 0 auto;
}

.alter-color-wrapper {
  background-color: var(--alter-backgroud-color);
}
